name: Build-Frontend

on:
  push:
    branches:
      - "main"
    paths:
      - "frontend/**"
      - ".github/workflows/build-frontend"

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

        # Set up ghcr and image tag
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Generate image tag
        id: image-tag
        run: |
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
          IMAGE_TAG="${GITHUB_RUN_NUMBER}-${SHORT_SHA}"
          echo "tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "Generated tag: ${IMAGE_TAG}"

        # Build and push image
      - name: Build frontend container image
        run: |
          docker build -f frontend/Containerfile -t ghcr.io/hardomx/guestbook-frontend:latest ./frontend
          docker build -f frontend/Containerfile -t ghcr.io/hardomx/guestbook-frontend:${{ steps.image-tag.outputs.tag }} ./frontend

      - name: Push containers
        run: |
          docker push ghcr.io/hardomx/guestbook-frontend:${{ steps.image-tag.outputs.tag }}
          docker push ghcr.io/hardomx/guestbook-frontend:latest
